/* Add all your styles here */
/*
background: linear-gradient(to bottom right, hsl(25, 50%, 30%), hsl(25, 50%, 50%), hsl(25, 50%, 70%), hsl(25, 50%, 50%), hsl(25, 50%, 30%));
background: linear-gradient(to bottom right, hsl(0, 0%, 55%), hsl(0, 0%, 75%), hsl(0, 0%, 95%), hsl(0, 0%, 65%), hsl(0, 0%, 55%)); er
background: linear-gradient(to bottom right, hsl(38, 60%, 50%), hsl(40, 50%, 70%), hsl(40, 50%, 80%), hsl(40, 50%, 50%), hsl(40, 30%, 40%));
background: linear-gradient(to bottom right, hsl(210, 30%, 60%), hsl(210, 30%, 70%), hsl(0, 0%, 100%), hsl(310, 10%, 60%), hsl(310, 10%, 50%));
background: linear-gradient(to bottom right, hsl(0, 0%, 10%), hsl(0, 0%, 20%), hsl(0, 0%, 40%), hsl(0, 0%, 20%), hsl(0, 10%, 10%));
*/

    .popup-card {
      position: fixed;
      top: 50%;
      left: 46%;
      transform: translate(-50%, -50%);
      width: 80vw;
      height: 30vh;
      background: linear-gradient(to bottom right, hsl(0,0%,40%),hsl(0,0%,80%),hsl(0,0%,40%));
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      z-index: 9;
    }

    .popup-card h2 {
      color: rgba(0,0,0,.8);
      text-align: left;
      border-left: 10px solid rgba(0,0,0,.9);
      text-transform: uppercase;
      padding: 0 10px;
      letter-spacing: 3px;
    }

    .popup-card p {
      color: rgba(0,0,0,.6);
      font-weight: light;
      letter-spacing: 1px;
    }

    .popup-card .close-btn {
      position: absolute;
      top: 80%;
      right: 10px;
      background-color: rgba(0,0,0,.4);
      color: gray;
      border: none;
      width: 90px;
      height: 30px;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    #back{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.8);
    z-index: 4;
    top: 0;
    left: 0;
    }
body {
  background: linear-gradient(to bottom right, hsl(0, 0%, 40%), hsl(0, 0%, 60%), hsl(0, 0%, 90%), hsl(0, 0%, 60%), hsl(0, 10%, 40%));
  text-align: center;
  font-family: sans-serif;
  width: 100vw;
  overflow-x: hidden;
}




.head{
 text-align: center;
 line-height: 5px;
 margin-top: 50px;
 letter-spacing: 3px;
}

h1, h2, h3{color: rgba(0,0,0,.7)}
.head p{
 font-size: 10px;
}
.rank{
 margin-top: 50px;
 text-align: center;
}
.rank img{
  width: 50vw;
}


.data{
margin-top: 0px;
background-color: rgba(255,255,255,.1);
padding: 10px 0;
max-width: 95vw;
}
.data p{
  display: flex;
  justify-content: center;
}
.data p span{
      padding: 10px 15px;
      font-size: 10px;
      letter-spacing: 2px;
      width: 90px;
      background: linear-gradient(45deg, hsl(10, 20%, 30%), hsl(10, 20%, 40%));
      border-radius: 2px;
      color: rgba(255,255,255,.5);
      text-align: center;
      text-transform: uppercase;
      font-weight: light;
      position: relative;
      overflow: hidden;
      box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
   }

    .data p span:before {
      content: '';
      position: absolute;
      top: 0;
      left: -10px;
      width: 100%;
      height: 50%;
      background: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0) 80%);
      transform: skew(-20deg);
      z-index: 1;
    }
#bril{background: linear-gradient(45deg, hsl(10, 100%, 30%), hsl(23, 80%, 60%));}
#enth{background: linear-gradient(45deg, hsl(130, 60%, 20%), hsl(133, 60%, 65%));}
#obed{background: linear-gradient(45deg, hsl(160, 50%, 30%), hsl(163, 50%, 60%));}
#lwid{background: linear-gradient(45deg, hsl(180, 20%, 20%), hsl(183, 40%, 60%));}
#disc{background: linear-gradient(45deg, hsl(280, 30%, 30%), hsl(170, 30%, 50%));}

 .progress-bar {
            width: 45vw;
            height: 2px;
            margin-left: 20px;
            margin-top: 10px;
            background-color: black;
            border-radius: 15px;
            position: relative;
            margin-bottom: 20px;
        }

        .progress-bar::before {
            content: attr(data-progress) '%';
            position: absolute;
            top: 50%;
            left: -6%;
            transform: translate(-50%, -50%);
            font-size: 8px;
            color: black;
            z-index: 1;
        }

        .progress-bar::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: var(--progress-width);
            height: 100%;
            background-color: var(--progress-color);
        }
        
.tasks{
 margin-top: 50px;
 padding: 20px;
 max-width: 82vw;
 background-color: rgba(0,0,0,.2);
}
.tasks div{
 margin: 10px 0;
 background: linear-gradient(90deg,rgba(255,255,255,.0),rgba(255,255,255,.4),rgba(255,255,255,.0));
 position: relative;
 width: 60vw;
 height: 60px;
 padding: 0px 10px;
 color: rgba(0,0,0,.6);
 display: flex;
 justify-content: center;
 font-family: cursive;
}

.task button { 
 width: 15vw;
 position: absolute;
 right: -15vw;
 top: 0px;
 height: 60px;
 font-size: 12px;
 background: linear-gradient(to bottom right, hsl(40, 0%, 10%), hsl(40, 0%, 30%), hsl(40, 0%, 50%), hsl(40, 0%, 30%), hsl(40, 0%, 10%));
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-right: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: rgba(255,255,255,.5);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), inset 0px 2px 0px rgba(255, 255, 255, 0.2);
}

#pts {
  display: inline-block;
  font-size: 10px;
  width: 100px;
  margin-left: 50%;
  transform: translate(-50%, -100%) rotate(-3deg);
  margin-top: 0px;
  padding: 0px 30px;
  background: linear-gradient(to bottom right, hsl(40, 100%, 30%), hsl(40, 100%, 50%), hsl(40, 100%, 70%), hsl(40, 100%, 50%), hsl(40, 100%, 30%));
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-right: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: rgba(255,255,255,.5);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), inset 0px 2px 0px rgba(255, 255, 255, 0.2);
}

#name {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 2px;
  width: 160px;
  margin-left: 50%;
  transform: translate(-50%,-100%) rotate(-3deg);
  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(to bottom right, hsl(10, 100%, 30%), hsl(10, 100%, 50%), hsl(10, 100%, 70%), hsl(10, 100%, 50%), hsl(10, 100%, 30%));
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-right: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: rgba(0,0,0,.3);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: light;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), inset 0px 2px 0px rgba(255, 255, 255, 0.2);
}

